@font-face {
        font-family: "Roboto";
        src: url(./polices/Roboto/Roboto-Regular.ttf), url(./polices/Roboto/Roboto-Bold.ttf), url(./polices/Roboto/Roboto-Medium.ttf);
    }

@font-face {
        font-family:"Shrikhand";
        src: url(./polices/Shrikhand/Shrikhand-Regular.ttf), format('ttf');
    }

