@font-face {
    font-family: 'Roboto';
    src: url("polices/Roboto/Roboto-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



.H-F, .nom_restaurants
{
    font-family: 'Shrikhand', cursive;
    padding: 10px 10px 10px 0px;
}

body
{
    font-family: Roboto, sans-serif;
}

.ville, .menu__titre--acp
{
    font-weight: 100;
    display: contents;
}

.menu__titre--prix
{
    font-weight: 600;
}