@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Roboto";
  src: url("polices/Roboto/Roboto-Regular.ttf");
}
.H-F, .nom_restaurants {
  font-family: "Shrikhand", cursive;
  padding: 10px 10px 10px 0px;
}

body {
  font-family: Roboto, sans-serif;
}

.ville, .menu__titre--acp {
  font-weight: 100;
}

.menu__titre--prix {
  font-weight: 600;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
}

header img {
  width: 50%;
}

.arrow {
  position: absolute;
  top: 2%;
  left: 15px;
}

.nav__ville {
  text-align: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 5px 0 5px 0;
}

.comm {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}
.comm h2 {
  font-weight: 900;
}
.comm p {
  color: #696969;
  font-weight: 100;
}

.restau {
  background-color: #F6F6F6;
  padding: 20px;
}
.restau h2 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restau {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.fiche {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px;
  position: relative;
  background: white;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .fiche {
    width: 45%;
  }
}
@media screen and (min-width: 1440px) {
  .fiche {
    width: 45%;
  }
}

.fiche img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fiche figure {
  margin: 0;
}

.fiche figcaption {
  position: relative;
  padding: 10px;
}
.fiche figcaption h3,
.fiche figcaption p {
  margin: 5px;
}
.fiche figcaption .fa-heart {
  position: absolute;
  right: 20px;
  bottom: 25px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer img {
  width: 30%;
}
footer ul {
  padding: 5px 0 5px 0;
}
footer ul li {
  padding: 5px 0 5px 0;
}
footer ul li a {
  color: white;
}
footer .fa-utensils {
  margin-right: 15px;
}
footer .fas {
  margin-right: 10px;
}

.fonctionnement {
  margin: 20px;
}
.fonctionnement ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fonctionnement li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #f5f5f5;
  margin: 20px 0 20px;
  position: relative;
}
.fonctionnement .liste__etap--cpt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -10px;
}
.fonctionnement h2 {
  align-items: flex-start;
}
.fonctionnement ul {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .fonctionnement ul {
    display: flex;
    justify-content: space-around;
    flex-direction: unset;
  }
}
.fonctionnement ul li {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px;
}
@media screen and (min-width: 768px) {
  .fonctionnement ul li {
    display: flex;
    width: 30%;
  }
}
.fonctionnement ul li:hover {
  background-color: rgba(195, 159, 240, 0.5803921569);
  box-shadow: 4px 4px 6px #b2bec3;
  transform: scale(1);
}

p {
  margin-left: 20px;
}

.p1 {
  color: grey;
}

.imag_header img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.main_menu {
  text-align: center;
  background-color: #f5f5f5;
}

.page {
  background-color: #f5f5f5;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  top: -29px;
}

.nom_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 1440px) {
  .menu_choix {
    display: flex;
    justify-content: space-around;
  }
}

.menu__EPD {
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  margin-left: 20px;
  font-weight: 100;
  font-size: initial;
}

.menu {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.menu:hover {
  padding-right: 75px;
}
.menu:hover .check {
  opacity: 1;
  transform: translate(-50px);
}
.menu:hover .fa-check-circle {
  transform: rotate(360deg);
}
.menu h4 {
  text-align: start;
  margin: 0;
  padding-top: 5px;
}
.menu_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px 5px 0px;
}
.menu_titre--acp {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__titre--acp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_choix {
  animation: fadein 4s ease-in-out;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0%;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.check .fa-check-circle {
  color: #FFF;
  transition: transform 500ms ease-in-out;
}

.nav__ville {
  background-color: #dcdcdc;
  box-shadow: inset 0px 3px 3px 0px #C0C0C0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.search {
  background-color: #dcdcdc;
  font-size: 15px;
  border: none;
  text-align: center;
}

.exploration_btn button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  padding: 12px 20px;
  border: none;
  transform: scale(1);
  transition: transform 400ms;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px;
}
.exploration_btn button:hover {
  background-color: rgba(195, 159, 240, 0.5803921569);
  box-shadow: 4px 4px 6px #b2bec3;
  transform: scale(1);
}

.new {
  position: relative;
}

.new {
  background-color: #99E2D0;
  border: 7px solid #99E2D0;
  color: #008766;
  margin-top: 10px;
  position: absolute;
  margin-top: 27px;
  left: 70%;
}

.fa-heart:hover {
  animation: heart_full 200ms ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.order {
  display: unset;
}

.order__btn {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  transform: scale(1);
  transition: transform 400ms;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px;
}
.order__btn:hover {
  background-color: rgba(195, 159, 240, 0.5803921569);
  box-shadow: 4px 4px 6px #b2bec3;
  transform: scale(1);
}

.loader {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-family: Shrikhand;
  font-size: 30px;
  width: 100%;
  height: 100%;
  line-height: 100%;
  position: fixed;
  z-index: 3;
  animation: loading 2100ms ease-in-out forwards;
}
.loader__loading {
  vertical-align: middle;
}

.loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(to right, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  animation: loading 2100ms cubic-bezier(0.16, 0.84, 0.44, 1);
  animation-delay: 0;
}

@keyframes loading {
  0% {
    left: -10%;
    right: 100%;
  }
  100% {
    left: 100%;
    right: -100%;
  }
}

/*# sourceMappingURL=style.css.map */
