.nav__ville
{
    background-color: #dcdcdc;
    box-shadow: inset 0px 3px 3px 0px #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.nav__search
{
    @include nav;
}