// Couleur du site et des police

// header et nav
$Cnav: #EAEAEA;
$linear-gradient: (#FF79DA,#9356DC);

// Fonctionnement et bouton
$Primaire: #9356DC;
$selection: #F5EDFF;

// couleur de fond  section restaurants
$Cpolices: #99E2D0;
$Cnouveau: #008766;
$Cmenu: #F6F6F6;

// footer
$Cfooter: #353535;
