.fonctionnement {
    @include fonctionnement;
    h2 {
        align-items: flex-start;
    }   

    ul {
         @include tablet { display: flex;
            justify-content: space-around;
            flex-direction: unset;
        }
        padding: 0;

        li {
            @include tablet {
                display: flex;
                width: 30%;
            }

            @include radius-shadow;
            &:hover
            {
                @include hover_btn;
            }
            }
        }
    }

    p {
        margin-left: 20px;
    }
    .p1 {
        color: grey;
    }