footer
{
    background-color: $Cfooter;
    color: white;
    padding: 20px;

    img{
        width: 30%;
    }

    ul
    {
        padding: 5px 0 5px 0;

        li
        {
            padding: 5px 0 5px 0;
            a
            {
                color: white;
            }
        }
    }


    .fa-utensils
    {
        margin-right: 15px;
    }

    .fas
    {
        margin-right: 10px;
    }
}

.findepage
{
    h2{
    @include desktop 
        {
        display: flex;
        justify-content: center;
        }
    }
}

.about
{
    ul {
        @include desktop {
            display: flex;
            justify-content: space-around;
        }
    }
}