.restau
{
    background-color: $Cmenu;
    padding: 20px;

    h2
    {
        width: 100%;
    }
    @include tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

}


.fiche
{
    @include radius-shadow;
    @include fiche;
    @include tablet{
        width: 45%;
    }
    @include desktop {
        width: 45%;
    }
}

.fiche img {
    @include fiche_restau__img;
}

.fiche figure {
    margin: 0;
}

.fiche figcaption {
    position: relative;
    padding: 15px;
    text-align: start;

    h3{
        margin-block-start: 3px;
        margin-block-end: 3px;
    }
    
    & .fa-heart {
        position: absolute;
        right: 20px;
        top: 25px;
    }
}

.ville
{
    margin-left: 0px;
    margin-block-start: 3px;
}
